header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 32px 80px 64px;
    overflow: hidden;
    color: var(--white);
    background: transparent;
    z-index: 5;
}

header::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    transform: skewY(-4deg);
    transform-origin: bottom left;
    background: var(--black);
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    transform: skewY(8deg);
    transform-origin: bottom right;
    background: var(--black);
}