
header {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    margin: 0;
    padding: 32px 80px 64px;
    overflow: hidden;
    color: var(--white);
    background: transparent;
    z-index: 5;
    height: 155px;
    position: fixed;
    width: 100%;
    top: 0;
}


.header-background {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    transform: skewY(-4deg);
    transform-origin: bottom left;
    background: var(--deepblack);
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    transform: skewY(8deg);
    transform-origin: bottom right;
    background: var(--deepblack);
}

.logo {
    width: 50px;
    height: 50px;
    /* border: 2px solid cornflowerblue; */
    border-radius: 50%;
    z-index: 7;
}

#nav-list {
    z-index: 8;
    padding: 0 140px;
}