#app {
  margin-top: 166px;
}

.button {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  padding: 15px 30px;

  border-radius: 2px;
  color: #fff;
  background: #ec008c;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow .3s ease-in-out;
  margin: 0 0 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 34px;
}

.container {
  width: 90%;
  margin: auto;
}

.container-overlay {
  background-color: var(--deepblack);
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

.container-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: "";
  transform: skewY(-4deg);
  transform-origin: bottom left;
  background: var(--deepblack);
}

.container-overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: "";
  transform: skewY(8deg);
  transform-origin: bottom right;
  background: var(--deepblack);
}

.head-section {
  background: white;
  height: 19px;
  margin-top: -23px;
}

.tabs-content-item {
  display: none;
}

.tabs-content-item.active {
  display: block;
}

.course-main-title {
  /* color: var(--black); */
  text-align: center;
  padding: 0px 35%;
  /* height: 0; */
  position: relative;
  /* top: -17px; */
  /* z-index: 12; */
}
.course-main-title-text {
  font-size: 36px;
  font-weight: bold;
  margin-left: -100px;
}

.forseable-course {
  margin-bottom: 30px;
  margin-right: 50px;
}

.forseable-course span {
  font-size: 26px;
  color: white;
}

.main-content {
  display: flex;
}

.course-info-block {
  color: white;
  display: flex;
}


.course-time-table {
  color: white;
}

.main-content {
  gap: 20px;
}

.pin-wrapper {
  width: var(--aside-width);
}

.course-info-wrapper {
  width: calc(100% - var(--aside-width));
  margin-top: -50px;
}

.eye-overlay {
  position: relative;
  z-index: 4;
}

.body-eye {
  position: absolute;
  right: 30%;
  top: -50px;
}

.eye {
  width: 50px;
  height: 50px;
}

.post {
  background: var(--black);
  border: 14px solid transparent;
  border-image: url(./../img/design/zap-08.fc201d70f76b.svg) 30 stretch;
  border-image-outset: 7px;
}

.courseSideBar {
  position: sticky;
  top: 200px;
}

.tabs-nav-item {
  margin-bottom: 10px;
  padding: 5px 10px;
}