header {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  margin: 0;
  overflow: hidden;
  color: var(--white);
  background-color: var(--deepblack);
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  background-image: url('../img/design/bg-hero.png');
  background-size: 600px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.logo {
  width: 50px;
  height: 50px;
  /* border: 2px solid cornflowerblue; */
  border-radius: 50%;
  z-index: 7;
}

#nav-list {
  z-index: 8;
  padding: 10px 40px;
}

#app {
  margin-top: var(--header-height);
}

#nav-list {
  display: flex;
  gap: 10px;
}

.button {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  padding: 15px 30px;

  border-radius: 2px;
  color: #fff;
  background: #ec008c;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow .3s ease-in-out;
  margin: 0 0 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 34px;
}

.container {
  width: 90%;
  margin: auto;
}

.container-overlay {
  background-color: var(--deepblack);
  position: relative;
  padding-bottom: 100px;
  padding-top: 25px;
  min-height: 100vh;
  background-image: url(../img/design/bkgd-triangle-right.png), url(../img/design/bkgd-triangle-right2.png), url(../img/design/bkgd-triangle-left.png);
}

.head-section {
  background-color: white;
  white-space: nowrap;
}

.tabs-content-item {
  display: none;
}

.tabs-content-item.active {
  display: block;
}

.courseContent {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.course-main-title {
  text-align: center;
  position: relative;
  color: var(--black);
}
.course-main-title-text {
  font-size: 21px;
  font-weight: bold;
}

.forseable-course {
  margin-bottom: 15px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.forseable-course span {
  font-size: 26px;
  color: var(--white);
}

.forseable-course span:first-of-type {
}

.forseable-course span:last-of-type {
  align-self: end;
  font-size: 21px;
  margin-right: 20px;
  color: var(--black);
}

.course-info-block {
  color: white;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  padding: 0px 4% 0;
  align-items: center;
}


.course-time-table {
  color: white;
}

.main-content {
  gap: 20px;
}

.pin-wrapper {
  /* width: var(--aside-width); */
}

.course-info-wrapper {
  /* width: calc(100% - var(--aside-width)); */
}

.eye-overlay {
  position: relative;
  z-index: 4;
}

.body-eye {
  position: absolute;
  right: 30%;
  top: -50px;
}

.eye {
  width: 50px;
  height: 50px;
}

.post-item {
  background-color: var(--black);
  height: fit-content;
  padding: 10px 20px;
}

.post {
  color: var(--white);
  /* background: var(--black); */
}

.courseSideBar {
  display: flex;
  align-items: center;
}

.tabs-nav-item {
  margin-right: 10px;
  padding: 5px 10px;
  color: var(--black);
  position: relative;
}

.tabs-nav-item:last-of-type:after {
  content: none;
}

.tabs-nav-item:after {
  display: inline-block;
  vertical-align: middle;
  content: '-';
  position: absolute;
  right: -7px;
  top: -13px;
  bottom: 0;
  height: 1px;
  margin: auto;


}

.code {
  white-space: pre-wrap;
  /* transform: translateX(-120px); */
}