pre code.hljs {
  padding: 0;
  /* font-family: Arial, sans-serif; */
  /* line-height: 1.4;
  font-size: 13px; */
  text-align: left;
}

.hljs {
  background: none;
}

#app {
  width: 100%;
  margin-top: var(--header-height);
}

.button {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  padding: 15px 30px;

  border-radius: 2px;
  color: #fff;
  background: #ec008c;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow .3s ease-in-out;
  margin: 0 0 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 34px;
}

.container {
  width: 90%;
  margin: auto;
}

.container-overlay {
  background-color: var(--deepblack);
  position: relative;
  padding-bottom: 100px;
  padding-top: 25px;
  min-height: 100vh;
  background-image: url(../img/design/bkgd-triangle-right.png), url(../img/design/bkgd-triangle-right2.png), url(../img/design/bkgd-triangle-left.png);
  background-attachment: fixed;
}

.head-section {
  background-color: var(--deepblack);
  white-space: nowrap;
}

.tabs-content-item {
  display: none;
}

.tabs-content-item.active {
  display: block;
}

.courseContent {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.course-main-title {
  text-align: center;
  position: relative;
  color: var(--black);
}

.course-main-title-text {
  font-size: 21px;
  font-weight: bold;
}

.forseable-course {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.forseable-course span {
  font-size: 26px;
  color: var(--white);
}

.forseable-course span:first-of-type {}

.forseable-course span:last-of-type {
  align-self: end;
  font-size: 21px;
  margin-right: 20px;
  color: var(--coral);
}

.course-info-block {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 4% 0;
  align-items: center;
  background-color: var(--black);
  background-image: url(./../img/design/hero-illustration.png);
  background-size: cover;
  background-position: right;
  /* background-attachment: fixed; */
}


.course-time-table {
  color: white;
}

.main-content {
  gap: 20px;
}

.pin-wrapper {
  /* width: var(--aside-width); */
}

.course-info-wrapper {
  /* width: calc(100% - var(--aside-width)); */
}

.eye-overlay {
  position: relative;
  z-index: 4;
}

.body-eye {
  position: absolute;
  right: 30%;
  top: -50px;
}

.eye {
  width: 50px;
  height: 50px;
}

.post {
  color: var(--white);
  /* background: var(--black); */
}

.courseSideBar {
  display: flex;
  align-items: center;
}

.tabs-nav-item {
  margin-right: 10px;
  padding: 5px 10px;
  color: var(--black);
  position: relative;
}

.tabs-nav-item:last-of-type:after {
  content: none;
}

.tabs-nav-item:after {
  display: inline-block;
  vertical-align: middle;
  content: '-';
  position: absolute;
  right: -7px;
  top: -13px;
  bottom: 0;
  height: 1px;
  margin: auto;


}

.code {
  white-space: pre-wrap;
  /* transform: translateX(-120px); */
}

.field {
  max-height: 250px;
  overflow: hidden;
}

.field.active {
  max-height: fit-content;
}

.field-img {
  width: 80%;
  right: -20px;
  top: -15px;
  border-bottom: 1px solid var(--yellow);
  border-left: 1px solid var(--yellow);

}

.post-item {
  background-color: var(--black);
  height: fit-content;
  padding: 3px 20px 12px 16px;
  transition: 0.5s;

}

.field-title {
  font-weight: 600;
  width: 50%;
  margin-right: 10px;
  position: relative;
  z-index: 4;
  border-radius: none;

}

.field-method {
  /* font-size: 18px; */
  color: wheat;
}

.field-top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 10px;
}

.field-theory {
  padding-left: 22px;
  margin-left: 20px;
  position: relative;
}

.field-theory.withimg {
  margin-left: 0;
}

.field-theory:before {
  content: '';
  background: url(../img/design/lapki.png);
  display: block;
  position: absolute;
  left: 0;
  top: -3px;
  height: 12px;
  width: 16px;
  background-size: cover;
}

.field-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-title {
  font-size: 14px;
  color: var(--white);
  /* color: white; */
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.tabs-content-item.active .tabs-nav-item.active .course-title {
  border-bottom: 1px solid var(--white);
}

.btn-group-actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.show-all, .copy-all {
  border-radius: 100%;
  background: var(--yellow);
  color: var(--white);
  height: 30px;
  width: 30px;
  display: flex;
  cursor: pointer;
}

.copy-all {
  margin-bottom: 10px;
}

.show-all span, .copy-all span {
  font-size: 30px;
  display: inline-block;
  line-height: 1;
  margin: auto;
}

.show-all:hover span {
  animation: shakingArrow 0.9s infinite ease-in;
}

@keyframes shakingArrow {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3px) screw(10deg);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.copy-all:hover span {
  animation: revolve 0.3s  ease-in;
  animation-fill-mode: forwards
}

@keyframes revolve {
  100% {
    transform: scale(0.8);
  }
}

/* photo increase */
.photo {
  width: 200px;
}

.photo_wrapper {
  display: flex;
  align-items: center;
  z-index: 22;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  animation: fadeImg 0.4s ease;
}

.photo_wrapper img{
  display: block;
  width: 50%;
  height: fit-content;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacety: 1;
  }
}
/* end photo increase */


.post-item.active .field {
  max-height: fit-content;
}

.show-all.active span {
  animation: rotateArrow 0.3s ease-in;
  animation-fill-mode: forwards
}

@keyframes rotateArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.theory-link.active {
  color: orange;
  cursor: pointer;
}

/* theory accordions items */
.accordion-content-list {

}
.accordion-content-list-title {}
.accordion-content-list-items {}
.accordion-content-list-item {}
.accordion-content-title {}
.accordion-content-method {}
.accordion-content-item {}
.accordion-content-img {}
.accordion-content-code {}
.accordion-content-text {}
.accordion-content-text {}
.accordion-content-link {}

/* methods list */

.method-wrap {}

.methods-container {
  width: 90vw;
  margin: auto;
  margin-top: 40px;
}
.methods-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.methods-column {
  width: calc(100% / 5 - 15px);
}

.list-methods-wrap {
  width: 100%;
  font-size: 12px;
  margin: 10px;
  margin-bottom: 30px;
}
.method-item.hoverable {
  cursor: pointer;
}

.method-item {
  border: 1px dashed white;
  border-bottom: none;
  padding: 16px;
  text-align: center;
  position: relative;
}

.method-item:last-of-type {
  border: 1px dashed white;
}

.list-methods-title {
  font-size: 16px;
  height: 37px;
  font-weight: 800;
  text-align: center;
  color: #fd9179;
}
.method-item.hoverable:before {
  content: "+";
  display: block;
  position: absolute;
  right: 4px;
  top: 1px;

}
.method-title {
  margin-bottom: 10px;
}
.method-method {
  margin-bottom: 4px;
  color: beige;
  font-size: 13px;
}
.method-values {
  font-size: 10px;
  color: gray;
}
.method-example {
  color: cornflowerblue;
  font-size: 11px;
}
.method-text {
  margin-top: 10px;
  font-style: italic;
  color: #303030;
}
.method-img {}

.hidden-block {
  display: none;
}
.methods-code {
  padding: 10px;
}
.method-code.active {
  display: block;
}
.hidden-method {
  visibility: hidden;
  position: fixed;
  height: fit-content;
  width: 40vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
}

.method-item.active .hidden-method {
  visibility: visible;
  opacity: 1;
}

.nav-links-top {
  margin-right: 30px;
  margin-top: 1px;
  display: flex;
}
.nav-top-item {
  display: inline;
  font-size: 12px;

}