* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

.db {
    display: inline-block;
}
html {
    padding: 0;
    margin: 0;
}
html,
body {
    font-family: 'Montserrat', sans-serif, 'calc';
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    width: 100%;
    font-size: 12px;
    background: var(--deepblack)

}

li {
    list-style: none;
}
ul li {
    list-style: none;
    padding-bottom: 5px;
}

ol li {
    font-size: 16px;
    padding-bottom: 10px;
}

pre {
    /* margin: 0px 0 10px 0px;
    padding: 0 0 5px 25px;
    white-space: pre-line;
    word-wrap: break-word; */
}

pre.code {
    white-space: pre-wrap;
}

a {
    display: inline-block;
    font-size: 18px;
    color: cornflowerblue;
    margin-right: 15px;
    text-transform: capitalize;
    text-decoration: none;
}

fieldset {
    background: var(--black);
    /* border-color: var(--black); */
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
    border: none;
    color: var(--white)
}

legend {
    color: var(--main-yellow);
    font-size: 22px;
    padding: 10px 40px;
}

blockquote {
    position: relative;
    padding: 10px;

    /* border-left: .3rem solid #e74c3c; */
    letter-spacing: 1.2px;
    font-weight: 400;
    line-height: 1.5;
    background: var(--black);
}

label {
    user-select: none;
}

blockquote p {
    margin: 1em 3em;
}

input {
    margin-bottom: 5px;
}

h3 {
    font-weight: normal;
}

.hidden {
    display: none;
}

.img-container img {
    width: 50px;
    margin-left: 10px;
}

#cloned-img img {
    width: 70px;
    margin-left: 30px;
}

.img-wrap {
    margin-bottom: 10px;
    user-select: none;
}

.img-wrap img {
    margin-right: 10px;
}

.img-wrap *,
input,
label {
    display: inline-block;
    vertical-align: middle;
}

button {
    display: block;
    background: transparent;
    background: none;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
}

div.img {
    position: relative;
}

div.img img {
    width: auto;
}