:root {
  --background: #212529;
  --bd: 3px solid #2C4756;
  --bd-c: #2C4756;
  --bg: #EBAC72;
  --bg-c2: #F9DEDF;
  --bg-c3: #be9265;
  --bg-red: #ec6b6c;
}

body {
  color: #2C4756 ;
  /* color: white; */
}

.cfx:after {
  content: '';
  display: table;
  clear: both;
}

.coffe-wrap {
  margin-top: 100px;
  width: 100%;
}

.coffe-wrap * {
  border-color: #2C4756;
}

.coffe {
  height: 700px;
  width: 500px;
  transform: scale(1.6) translate(150px, 20%);
}

.coffe-machine, .socket {
  display: inline-block;
  margin-left: -4px;
}

/* table */
.coffe-table {
  display: block;
  position: relative;
}

.coffe-table-top {
  border-radius: 30px;
  border: var(--bd);
  height: 25px;
  position: relative;

  background: rgba(190,146,101,1);
  background: -moz-linear-gradient(top, rgba(190,146,101,1) 0%, rgba(190,146,101,1) 27%, rgba(235,172,114,1) 27%, rgba(235,172,114,1) 76%, rgba(232,189,147,1) 78%, rgba(232,189,147,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(190,146,101,1)), color-stop(27%, rgba(190,146,101,1)), color-stop(27%, rgba(235,172,114,1)), color-stop(76%, rgba(235,172,114,1)), color-stop(78%, rgba(232,189,147,1)), color-stop(100%, rgba(232,189,147,1)));
  background: -webkit-linear-gradient(top, rgba(190,146,101,1) 0%, rgba(190,146,101,1) 27%, rgba(235,172,114,1) 27%, rgba(235,172,114,1) 76%, rgba(232,189,147,1) 78%, rgba(232,189,147,1) 100%);
  background: -o-linear-gradient(top, rgba(190,146,101,1) 0%, rgba(190,146,101,1) 27%, rgba(235,172,114,1) 27%, rgba(235,172,114,1) 76%, rgba(232,189,147,1) 78%, rgba(232,189,147,1) 100%);
  background: -ms-linear-gradient(top, rgba(190,146,101,1) 0%, rgba(190,146,101,1) 27%, rgba(235,172,114,1) 27%, rgba(235,172,114,1) 76%, rgba(232,189,147,1) 78%, rgba(232,189,147,1) 100%);
  background: linear-gradient(to bottom, rgba(190,146,101,1) 0%, rgba(190,146,101,1) 27%, rgba(235,172,114,1) 27%, rgba(235,172,114,1) 76%, rgba(232,189,147,1) 78%, rgba(232,189,147,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be9265', endColorstr='#e8bd93', GradientType=0 );

}

.coffe-table-top:after {
  content: '';
  background: rgba(0,0,0, .2);
  top: 22px;
  position: absolute;
  width: 98%;
  height: 20px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius:  0 0 20px 20px;
}

.coffe-table-foot-left,
.coffe-table-foot-right {
  position: absolute;
  top: 25px;
  width: 20px;
  height: 100px;
  background-color: var(--bg);
  border-right: var(--bd);
  border-left: var(--bd);
}

.coffe-table-foot-left {
  left: 100px;
}

.coffe-table-foot-left:after,
.coffe-table-foot-right:after {
  content: '';
  position: absolute;
  top: 0;
  height: 15px;
  width: 100%;
  background: rgba(0, 0, 0, .2);
}

.coffe-table-foot-left:before,
.coffe-table-foot-right:before {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 20px;
  width: calc(100% + 7px);
}

.coffe-table-foot-left:before {
  background:linear-gradient(-45deg, var(--background) 15px, transparent 0);
  left: 0;
}

.coffe-table-foot-right {
  right: 100px;
}

.coffe-table-foot-right:before {
  background:linear-gradient(45deg, var(--background) 15px, transparent 0);
  right: 0;
}

/* socet */
.socket {
  position: relative;
  width: 60px;
  height: 60px;
  bottom: 20px;
  cursor: pointer
}
.socket-power {
  position: absolute;
  background-color: floralwhite;
  height: 30px;
  width: 30px;
  bottom: 14px;
  border-radius: 7px;
  border: 2px solid #000;
}
.socket-in {
  height: 22px;
  width: 22px;
  border: 2px solid;
  border-radius: 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -6px;
  margin: auto;
  text-align: center;
  border-color: #000;
}
.socket-in span {
  display: inline-block;
  vertical-align: middle;
  height: 4px;
  width: 4px;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  margin-top: -6px;
}
.socket-indikator {
  display: inline-block;
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: crimson;
  left: 2px;
  top: 2px;
  border-radius: 5px;
  border: 1px solid black;
}
.socket-cable {
  position: absolute;
  bottom: 9px;
  left: 20px;
  height: 15px;
  width: 41px;
  border-bottom: 1px solid crimson;
  border-left: 1px solid crimson;
}
.socket-cable:before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: -4px;
  height: 17px;
  width: 43px;
  border-bottom: 1px solid crimson;
  border-left: 1px solid crimson;
}
.socket-cable:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 2px;
  height: 11px;
  width: 37px;
  border-bottom: 1px solid crimson;
  border-left: 1px solid crimson;
}
.socket.active + .socket-cable,
.socket.active + .socket-cable:after,
.socket.active + .socket-cable:before {
  border-bottom: 1px solid limegreen;
  border-left: 1px solid limegreen;
}
.socket.active .socket-indikator {
  background-color: limegreen;
}
.socket.active .socket-cable,
.socket.active .socket-cable:before,
.socket.active .socket-cable:after {
  border-color: limegreen;
}
.socket.active .socket-in {
  background: darkgray;
}
.socket.active .socket-in span {
  background: none;
}
/* coffe-machine */
.coffe-mech {
  margin-bottom: -4px;
}
.coffe-machine {
  height: 200px;
  position: relative;
}
.shlang {
  position: absolute;
  top: -4px;
  right: 80px;
  left: 0;
  width: 45%;
  height: 15px;
  border-radius: 20px 20px 0 0;
  margin: auto;
  background-color: lightgray;
  border-bottom: none;
  z-index: 1;
  transform: translateY(-100%);
}
.shlang:after {
  content: '';
  position: absolute;
  display: block;
  top: 5px;
  width: 91%;
  height: 10px;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 20px 20px 0 0;
  background-color: var(--background);
  border-bottom: none;
  z-index: 2;
}
.beans {
  display: inline-block;
  margin-left: -4px;
  height: 100%;
  vertical-align: bottom;
}
.water {
  display: inline-block;
  margin-left: -4px;
  top: -4px;
  height: 100%;
  width: 100px;
  position: relative;
}
.water:after {
  content: '';
  position: absolute;
  right: -55px;
  top: -115px;
  height: 50%;
  width: 60px;
  transform: translateX(100%);
  background-color: var(--bg-red);
  z-index: -1;

  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-198deg);
  -moz-transform: rotate(-198deg);
  -ms-transform: rotate(-198deg);
  -o-transform: rotate(-198deg);
  transform: rotate(-198deg);
  -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.beans {
  width: 150px;
}
.water > div {
  width: 100px;
  position: relative;
}
.water-top {
  height: 80%;
  background-color: var(--bg-red);
  border-bottom: var(--bd);
}
.water-bottom {
  background-color: #f2b0b2;
}
.water-top:before,
.water-top:after,
.water-bottom:before,
.power-button:before,
.mounty-beans-wrap:after,
.mounty-beans-wrap:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}
.water-top:before {
  height: 10px;
  background: #ee8a8a;
  top: 0;
}
.water-top:after {
  height: 20px;
  background-color: #d95f5e;
  bottom: 0;
}
.water-bottom:before {
  height: 10px;
  bottom: 0;
  background-color: #ce9796;
}
.mounty-beans-wrap:after {
  height: 7px;
  top: 0;
  background-color: #ee8888;
}
.mounty-beans-wrap:before {
  width: 65%;
  bottom: -2px;
  background-color: #2C4756;
  border-radius: 100%;
  height: 5px;
  left: 15%;
}
.water-bottom {
  height: 20%;
  position: relative;
}
.water-mount {
  height: 80%;
  width: 15px;
  position: relative;
  background-color: #fdfdfc;
  border-radius: 15px;
  top: 10px;
  left: 27px;
  overflow: hidden;
  cursor: pointer;
}
.water-mount.active img {
  transform: translateY(-5%);
  opacity: 1 !important;
}
.water-mount:hover img {
  transform: translateY(-5%);
  opacity: .6;
}
.water-mount img {
  transition: .5s;
  height: 110%;
  width: 100px;
  transform: translateY(100%);
}
/* coffe-beans */
.mounty-beans-wrap {
  border-bottom: 70px solid var(--bg-red);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
  height: 0;
  top: -4px;
  width: 100%;
  transform: rotate(180deg);
  position: relative;
}
.machine-coffe-count {
  font-size: 10px;
  position: absolute;
  width: 44px;
  right: 22px;
  transform: rotate(180deg);
  top: 34px;
  font-family: 'calc';
  background: gray;
  padding: 2px;
}
.machine-coffe-count.active {
  background: skyblue;
}
.machine-coffe-count:before {
  content: 'Coffe :';
  display: block;
  margin-bottom: 2px;
}
.machine-coffe-count:after  {
  content: 'ml';
  display: inline-block;
}
.mount-beans {
  height: 68px;
  width: 15px;
  transform: rotate(144deg);
  overflow: hidden;
  border-radius: 50px;
  position: absolute;
  background-color: #fff;
  top: 73px;
  bottom: 0;
  left: -24px;
  right: -64px;
  margin: auto;
  border: 3px solid lightcoral;
  cursor: pointer;
}
.mount-beans img {
  height: 70px;
  width: 70px;
  transform: translateY(100%);
  transition: .5s;
}
.mount-beans.active img {
  opacity: 1 !important;
}
.mount-beans:hover img {
  transform: translateY(0%);
  opacity: .8;
}
.power-button {
  border-radius: 50px;
  height: 69%;
  width: 20px;
  position: absolute;
  top: -7px;
  bottom: 0;
  margin: auto;
  left: 6px;
  z-index: 10;
  cursor: pointer;
}
.power-button.off:hover {
  background-color: rgba(0,0,0, .6);
}
.power-button.active:hover {
  background-color: green;
}
.power-button {
  background-color: gray;
}
.power-button:before {
  bottom: 0;
  height: 5px;
  background-color: darkgray;
}
.power-button.active {
  background-color: seagreen;
}

.power-button.active:before {
  bottom: 0;
  height: 5px;
  background-color: lightgreen;
}
.power-display {
  font-size: 10px;
  font-family: 'calc';
  background-color: gray;
  height: 16px;
  padding: 3px;
  width: 70px;
  position: absolute;
  top: -10px;
  bottom: 0;
  margin: auto;
  right: 3px;
}
.power-display span {
  display: none;
  text-transform: uppercase;
}
.power-display.disc:after {
  content: 'disconnect';
}
.power-display.conc {
  background-color: skyblue;
}
.power-display.conc:after {
  content: 'connected';
}
.power-display.wait {
  background-color: cadetblue;
}
.power-display.wait:after{
  content: 'preparing';
}
.power-display.fc {
  background-color: greenyellow;
}
.power-display.fc:after {
  content: 'less coffe';
}
.power-display.fw {
  background-color: deepskyblue;
}
.power-display.fw:after {
  content: 'less water';
}
.power-display.npow {
  background-color: darkseagreen;
}
.power-display.npow:after {
  content: 'no power';
}
.power-display.push {
  background-color: palevioletred;
}
.power-display.push:after {
  content: 'push button';
}
.power-display.kettle-ready {
  background-color: cyan;
}
.power-display.kettle-ready:after {
  content: "kattle r'dy";
}
.power-display.coffe-ready {
  background-color: greenyellow;
}
.power-display.coffe-ready:after {
  content: "coffe r'dy";
}
.power-display.empty {
  background-color: seashell;
}
.power-display.empty:after {
  content: "empty";
}
.machine-fill {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 10px;
}
.machine-fill-item {
  position: relative;
  margin: 0;
  border-bottom: none;
}
.machine-fill-item span {
  display: inline-block;
  vertical-align: middle;
}
.machine-fill-item img {
  height: 24px;
  width: 26px;
  display: inline-block;
  vertical-align: middle;
}
.machine-water-count {
  font-size: 10px;
  position: absolute;
  right: 7px;
  bottom: 26px;
  font-family: 'calc';
  background: gray;
  padding: 3px;
}
.machine-water-count.active {
  background: skyblue;
}
.machine-water-count:before {
  content: 'Water :';
  display: block;
  margin-bottom: 2px;
}
.machine-water-count:after  {
  content: 'ml';
  display: inline-block;
}
.machine-fill-item.active:after {
  background: seagreen;
}
.machine-fill-item:after {
  content: '';
  background: crimson;
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 9px;
  left: 10px;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}
.mount-coffe {
  height: 74px;
  width: 62%;
  border: var(--bd);
  border-radius: 100%;
  margin-top: 4px;
  margin-left: 20%;
  position: relative;
  background-color: #fff;
  transition: 1s ease-in;
  cursor: pointer;
  /* animation: take-coffe 5s; */
}
@keyframes take-coffe {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(100px, 0px) rotateY(180deg);
  }
  40% {
    transform: translate(100px, 12px) rotateY(180deg);
  }
  60% {
    transform: translate(100px, 0px) rotateY(180deg) rotate(-60deg);
  }
  80% {
    transform: translate(100px, 0px) rotateY(180deg);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.mount-coffe-img {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.mount-coffe-img-wrap {
  position: relative;
  top: 60%;
  transition: 1.5s ease-in-out;
}
.mount-coffe-img-wrap img {
  width: 100%;
  position: absolute;
  height: 61px;
}
.mount-coffe-img-wrap img:last-child {
  transform: rotate(180deg) translateY(-60px) scale(-1, 1);
}
.mount-coffe.expresso .mount-coffe-img-wrap {
  top: 25%;
}
.mount-coffe.americano .mount-coffe-img-wrap {
  top: 0%;
}
.mount-coffe.latte .mount-coffe-img-wrap {
  top: -30%;
}
.mount-coffe:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255,255,255,.2), rgba(0,0,0,.2));
}
.pot-handler {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
  border: 2px solid;
  background: lightgray;
  width: 35%;
  height: 32px;
  border-radius: 0px 20px 20px 0;
  transform: translateX(100%);
  border-left: none;
  z-index: -1;
}
.pot-handler:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
  border: 2px solid;
  width: 78%;
  height: 20px;
  border-radius: 0px 20px 20px 0;
  border-left: none;
  background-color: var(--background);
  z-index: 2;
}
.pot-cap {
  position: absolute;
  top: -3px;
  background-color: lightgray;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 10px;
  border: 3px solid;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}
.pot-cap:after {
  content: '';
  position: absolute;
  top: -8px;
  background-color: lightgray;
  left: 0;
  right: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  border: 3px solid;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}
.pot-neck {
  position: absolute;
  top: -11px;
  font-size: 22px;
  left: 9px;
  transform: rotate(26deg);
  font-weight: bold;
  z-index: -1;
}
.pot-stand {
  content: '';
  position: absolute;
  bottom: -3px;
  height: 7px;
  width: 50%;
  left: 0;
  right: 0;
  border: 2px solid #2C4756;
  background-color: lightgray;
  margin: auto;
}
.pot-amount {
  position: absolute;
  bottom: 6px;
  left: 22%;
  height: 88%;
  border-left: 1px solid #2C4756;
}
.pot-amount li {
  font-size: 10px;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  border-bottom: none;
  border-top: 1px solid;
}
.warming {
  margin-top: 5px;
  height: 44px;
  margin-left: -1px;
  width: 100%;
  position: relative;
  border-top: var(--bd);
  border-right: var(--bd);
  border-left: var(--bd);
  background-color: var(--bg-red);
}
.warming:after {
  content: '';
  position: absolute;
  top: -10px;
  height: 4px;
  width: 50%;
  left: 38px;
  border: var(--bd);
  background-color: gray;
}
.warming input{
  display: inline-block;
}
.warming label{
  display: inline-block;
  font-size: 13px;
  line-height: 1 !important;
  margin-left: 7px;
}
.cap-size-item * {
  cursor: default !important;
}
.cap-size:checked,
.cap-size:not(:checked) {
    position: absolute;
    left: -9999px;
}
.cap-size:checked + label,
.cap-size:not(:checked) + label {
    position: relative;
    padding-left: 13px;
    display: inline-block;
    color: #666;
}
.cap-size:checked + label:before,
.cap-size:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.cap-size:checked + label:after,
.cap-size:not(:checked) + label:after {
    content: '';
    width: 4px;
    height: 4px;
    background: #F87DA9;
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.cap-size:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.cap-size:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.coffe-cup-wrap {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  margin-left: 50px;
  cursor: pointer;
}
.coffe-cup-wrap img{
  height: 50px;
  top: 5px;
  right: 0px;
  position: relative;
  animation: dim 2.1s infinite;
  opacity: 0;
  transition: 2s ease-in;
}
@keyframes dim {
  0% {
    top: -5px;
    right: -20px;
  }
  30% {
    top: -6px;
    right: -19px;
  }

  50% {
    top: -7px;
    right: -20px;
  }

  70% {
    top: -6px;
    right: -21px;
  }
  100% {
    top: -5px;
    right: -20px;
  }
}
.coffe-cup {
  height: 35px;
  width: 100%;
  border-radius: 0 0 23px 23px;
  border: 2px solid #2C4756;
  position: relative;
  font-size: 12px;
  font-family: cursive;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  top: -3px;
}
.coffe-cup:before {
  content: '';
  position: absolute;
  right: -13px;
  top: -15px;
  bottom: 0;
  margin: auto;
  border-radius: 50px;
  height: 16px;
  width: 9px;
  border: 2px solid #2C4756;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}
.coffe-cup:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -3px;
  margin: auto;
  height: 1px;
  width: 30px;
  border: 2px solid #2C4756;
  background-color: lightgrey;
}

.coffe-cup-limpet {
  height: 10px;
  border-radius: 0 0 20px 20px;
  width: 100%;
  border: 2px solid #2C4756;
}
.coffe-cap-size-switcher {
  height: 38px;
  margin-top: 1px;
  margin-left: 1px;
  width: 38px;
  border-radius: 30px;
  border: var(--bd);
  background-color: lightgray;
  float: left;
  position: relative;
}
.coffe-cap-size-switcher.sm {
  transform: rotate(-25deg);
}
.coffe-cap-size-switcher.md {
  transform: rotate(0deg);
}
.coffe-cap-size-switcher.lg {
  transform: rotate(25deg);
}
.coffe-cap-size-switcher:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  right: -15px;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 30px solid var(--bd-c);
  border-bottom: 2px solid transparent;
}
.coffe-cap-size-list {
  margin-top: 1px;
}
.cap-size-item {
  display: block;
  line-height: .8;
}
.coffe-cap-size-switcher:hover {
  background-color: gray;
  border: 3px solid lightgray;
  cursor: pointer;
}
.coffe-instruction {
  position: absolute;
  right: -50px;
  top: 0;
  color: white;
}
.coffe-instruction h2 {
  font-size: 10px;
}
.coffe-instruction ul {
  font-size: 10px;
}
.coffe-instruction li {
  list-style-type: decimal !important;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  border: 0;
  font-size: 8px;
}

/* @font-face {
  font-family: 'calc';
  src: url('./assets/digital_counter_7_italic.ttf');
} */

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

.db {
  display: inline-block;
}

html,
body {
  font-family: sans-serif, 'calc';
  padding-bottom: 50px;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-font-smoothing: subpixel-antialiased; */
}

ul li {
  list-style-type: none;
}

ul li:last-child {
  border-bottom: none;
}

ol li {
  font-size: 16px;
  padding-bottom: 10px;
}

pre {
  margin: 0px 0 10px 0px;
  padding: 0 0 5px 50px;
  white-space: pre-line;
  word-wrap: break-word;
}

pre.code {
  white-space: pre-wrap;
  transform: translateX(-120px);
}

pre b {
  color: seagreen;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 1px solid seagreen;
}

h4 span {
  color: darkred !important;
}

b span {
  color: seagreen !important;
}
a {
  display: inline-block;
  font-size: 18px;
  color: cornflowerblue;
  margin-right: 15px;
  text-transform: capitalize;
  text-decoration: none;
}

h3 {
  margin-left: 60px;
  color: midnightblue
}

h4 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  display: inline-block;
}

h5 {
  color: darkblue;
  font-size: 19px;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}

.includer {
  color: green;
  padding: 5px;
}

legend {
  color: indigo;
  font-size: 22px;
  padding: 10px 40px;
}

blockquote {
  position: relative;
  padding: 10px;
  padding-left: 2rem;
  border-left: .3rem solid #e74c3c;
  letter-spacing: 1.2px;
  font-weight: 400;
  line-height: 1.5;
  background: ghostwhite;
  margin-left: 2rem;
}

label {
  user-select: none;
}

.container {
  width: 90%;
  margin: auto;
}

blockquote p {
  margin: 1em 3em;
}

.num {
  width: 100px;
  display: inline-block;
}

input {
  margin-bottom: 5px;
}

h3 {
  font-weight: normal;
}

.error {
  color: rgb(194, 51, 51);
  font-size: 10px;
  font-style: italic;
}

.error2 {
  color: lightcoral;
  font-size: 10px;
  font-style: italic;
}

#extra-menu li {
  border-bottom: none;
}

.focus-brd {
  outline: 1px solid greenyellow;
}

.error-brd {
  outline: 1px solid lightcoral;
}

.hidden {
  display: none;
}

.img-container img {
  width: 50px;
  margin-left: 10px;
}

#cloned-img img {
  width: 70px;
  margin-left: 30px;
}

.img-wrap {
  margin-bottom: 10px;
  user-select: none;
}

.img-wrap img {
  margin-right: 10px;
}

.img-wrap *,
input,
label {
  display: inline-block;
  vertical-align: middle;
}

button {
  display: block;
  background: none;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  padding: 0.25em 1em;
  background: transparent;
  color: white;
  background-color: tomato;
  border: 2px solid tomato;
}

button:hover {
  background-color: white;
  color: tomato;
}

.module-list {
  margin-top: 0;
  margin-bottom: 30px;
}

.module {
  display: inline-block;
  vertical-align: top;
}

.module a {
  text-transform: lowercase;
  margin-bottom: 5px;
}

.module a:hover {
  text-decoration: underline;
}

#indent {
  cursor: pointer;
  color: blue;
}

.popup {
  padding: 20px;
  border: 1px solid gray;
  background-color: lightgray;
  display: inline-block;
}

table td {
  padding: 10px;
  border: 1px solid lightgray;
  background: #fff;
  user-select: none;
}

#sum-num-table tr.sum-cells td {
  border: 2px solid black;
}

#sum-cells-table td {
  cursor: pointer;
}

#sum-cells-table td.active {
  background: green;
  color: white;
}

#result-cells-sum~button {
  display: inline-block;
}

#sum-cells-table {
  float: left;
}

.clearfix:after,
.clearfix:before {
  display: block;
  content: '';
  clear: both;
}

.sq {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 2px 8px;
  border-radius: 3px;
  font-weight: 100;
  font-size: 24px;
  line-height: 20px;
}

input.sq {
  width: 45px;
  font-size: 20px;
  margin: 0;
  margin-right: 5px;
}

.err {
  color: rgb(194, 51, 51);
  font-size: 10px;
  font-style: italic;
  display: none;
}

.closures .colors3 {
  height: 50px;
  width: 50px;
  background-color: lightblue;
  border: 1px solid;
  display: inline-block;
  margin: 10px;
  user-select: none;
}

button {
  user-select: none;
}

.closures .colors3:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}

.prev, .next, .enter  {
  display: inline-block;
  background: transparent;
  color: tomato;
}

input {
  line-height: 28px;
  border: 2px solid tomato;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 300;
}

/*-----------------*/

.hljs {
  font-size: 16px;
  line-height: 1.3;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #005599;
  font-weight: bold;
}

.hljs,
.hljs-subst {
  color: #333;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link {
  color: #2c009f;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #29176d;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

/* end hightlight */

.nav {
  /* background: url('../assets/nav/11.jpg') repeat;
  border: 2px solid black; */
  width: 60px;
  float: left;
  text-align: center;
  margin-right: 20px;
}

#bread-crumps li a {
  margin: 0;
  color: dimgray;
}

/* #bread-crumps li a:after {
  content: ' \27A4';
  font-size: 14px;
  padding-left: 7px;
} */

#bread-crumps li:last-child a:after {
  content: '';
  display: none;
}

.nav * {
  display: inline-block;
  list-style-type: none;
}

.nav .search {
  float: right;
  display: none;
}

.nav .search input {
  line-height: 25px;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 85px;
  font-size: 18px;
  border-color: gray;
}

.nav .search span {
  transform: translatex(31px);
}

.nav .search button {
  border-radius: 0 20px 20px 0;
  transform: translateX(-106%);
  border: none;
  color: white;
  border-color: gray;
  background: gray;
  height: 27px;
}

.links-themes-title {
  font-size: 35px;
  margin: 0;
}

.links-themes-list {
  text-align: right;
}

.links-themes-list li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}

.links-themes-list li a {
  text-transform: capitalize;
  color: black;
}

.links-themes-list li:last-child {
  border-right: none;
}

.links-themes-list li:last-child a {
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.info {
  overflow: hidden;
}

.info-right {
  padding-right: 9px;
}

.info-left,
.info-right {
  float: left;
}

.info-left {
  width: 300px;
  padding-right: 0;
  padding-left: 10px;
  position: relative;
  height: -webkit-fill-available;
  height: -moz-fill-available;
  height: fill-available;
}

.info-right {
  width: calc(100% - 300px);
}

.info-right-content {
  border: 2px solid #000;
  padding: 10px 20px;
}

.info-right-content .sub-title {
  margin-bottom: 2px;
  font-weight: 800;
  font-size: 14px;
  color: lightgray;
}

.info-right-content .title {
  margin-bottom: 2px;
  font-size: 35px;
  font-weight: bold;
}

.info-right-content .title-remark {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 10px;
  font-size: 20px;
}

.update {
  float: right;
  border-top: none;
  padding-right: 25px;
}

.update span {
  color: steelblue;
  font-size: 29px;
  cursor: pointer;
}

#menu {
  padding-left: 50px;
}

#menu * {
  user-select: none;
  border-bottom: none;
}

#menu h5 {
    font-size: 1em;
    line-height: 50px;
    margin: 0;
    font-weight: 700;
    color: black;
    cursor: pointer;
    float: left;
    letter-spacing: 2.5px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#menu.active h5:after {
  transform: rotate(90deg);
  text-align: center;
  height: 25px;
}

/* #menu h5:after {
  content: '\276F';
  font-style: normal;
  display: inline-block;
  text-align: right;
  font-size: 13px;
  width: 15px;
  line-height: 1;
  vertical-align: middle;
} */

#menu>ul {
  display: flex;
  list-style-type: none;
}

#menu>ul>li {
  display: flex;
  flex-direction: row;
  width: 250px;
  vertical-align: top;
}

#menu>ul>li>ul {
  padding-left: 5px;
}

#menu>ul>li>ul>li {
  padding-bottom: 1px;
  position: relative;
  margin: 0;
}

#menu>ul>li>ul>li:hover a:after {
  transition: .25s ease-in-out;
  width: 100%;
}

#menu>ul>li>ul>li a:after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 0%;
  background: black;
  left: 0;
  bottom: 0;
}

#menu>ul>li>ul>li>a {
  font-family: sans-serif;
  position: relative;
}

#menu.active>ul>li>ul {
  display: block;
}

/* tabs */
.tabs-content-list {
  padding-right: 8px;
}

.tabs-nav-list,
.tabs-content-list {
  list-style-type: none;
}

.tabs-nav-list {
  margin-right: -2px;
  border-right: 2px solid;
  background: white;
  width: 292px;
  top: 50px;
  position: relative;
}

.tabs-nav-list.sticky {
  position: fixed;
}

.tabs-nav-item {
  border-bottom: 2px solid #000 !important;
  border-radius: 0 0 0 5px;
  list-style: none;
  margin: 0px;
  padding: 10px;
  font-size: 22px;
  border-right: none;
  position: relative;
}

.paint * {
  margin: 0;
  padding: 0;
}

.tabs-content-item {
  display: none;
  border-bottom: none;
  animation: fadeEffect .3s;
}

.tabs-content-item ul li {
  overflow: hidden;
}

.tabs-content-item pre code li {
  margin: 0;
  padding-top: 0;
  line-height: 1;
  border-bottom: 1px solid indigo;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabs-content-item.active {
  display: block;
}

.tabs-nav-item:hover {
  cursor: pointer;
}

#bread-crumps li {
  border-bottom: none;
}

#bread-crumps li a i {
  font-size: 33px;
  vertical-align: middle;
}

.home-link:hover:before {
  content: "\f494";
}

.sandbox-link:before {
  content: "\f286";
}

.sandbox-link:hover:before {
  content: "\f3a3";
}

.cookie-link:hover:before {
  content: "\f564";
}

/* styles for style.html */
#oval {
  width: 200px;
  height: 100px;
  background:
  red; -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}
#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}
#triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}
#triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
}
#triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}
#triangle-topright {
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-left: 100px solid transparent;

}
#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-right: 100px solid transparent;
}
#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid red;
	border-right: 100px solid transparent;
}
#parallelogram {
	width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: red;
}
#trapezoid {
	border-bottom: 100px solid red;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 200px;
}
#star-six {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
	position: relative;
}
#star-six:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}
#star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
#arrow {
    position: relative;
    width: 54px;
    border-width: 50px 0px 0;
    border-style: solid;
    border-color: red transparent;
}
#arrow:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
}
#hexagon {
	width: 100px;
	height: 55px;
	background: red;
	position: relative;
}
#hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid red;
}
#hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}
#octagon {
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
}

#octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

#octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}
#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
#infinity {
    position: relative;
    width: 212px;
    height: 100px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid red;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform:rotate(45deg);
       -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
         -o-transform:rotate(45deg);
            transform:rotate(45deg);
}

:root {
  --blue: #58a;
  --brown: #655;
}

.bordered-elem-all-coals {
  height: 150px;
  width: 150px;

  background: var(--blue);
  background: linear-gradient(135deg, transparent 15px, var(--blue) 0) top left,

  linear-gradient(-135deg, transparent 15px, var(--brown) 0) top right,

  linear-gradient(-45deg, transparent 15px, var(--blue) 0) bottom right,

  linear-gradient(45deg, transparent 15px, var(--brown) 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.bordered-elem-all-coals-concave {
  height: 100px;
  width: 150px;

  background: #58a;
  background: radial-gradient(circle at top left, transparent 15px, #58a 0) top left,

  radial-gradient(circle at top right, transparent 15px, #58a 0) top right,

  radial-gradient(circle at bottom right, transparent 15px, #58a 0) bottom right,

  radial-gradient(circle at bottom left, transparent 15px, #58a 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.bordered-elem-bottom-coals {
  height: 100px;
  width: 150px;

  background: #58a;
  background: linear-gradient(-45deg, transparent 15px, #58a 0) right, linear-gradient(45deg, transparent 15px, #655 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
.bordered-elem-right-coal {
  background: #58a;
  background:linear-gradient(-45deg, transparent 15px, #58a 0);
}
/* palaroid */
.polaroid {
 position: relative;
 width: 220px;
 text-align: center;
}

.polaroid img {
  display: block;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  text-align: center;
  color: #888;
  margin-top: -20px;
}
#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent;
}
.radius-left {
  width: 5em;
  height: 10em;
  border: 2px solid red;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  background: mistyrose;
}
.radius-top {
  width: 10em;
  height: 5em;
  border: 2px solid red;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  overflow: hidden;
  background: mistyrose;
}
.radius-top-flexible {
  width: 10em;
  height: 15em;
  border: 2px solid red;
  border-radius: 500em 500em 0 0;  /* можно сохранить дугу для элементов разнообразных размеров, если задать очень большое значение для двух углов */
  background: mistyrose;
}
.radius-bottom {
  width: 10em;
  height: 5em;
  border: 2px solid red;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background: mistyrose;
}
.radius-right {
  width: 5em;  /* ширина в два раза меньше высоты, иначе получится полуовал */
  height: 10em;
  border: 2px solid red;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background: mistyrose;
}
/* рамка диалога\подсказки */
.hint {
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.hint::before, .hint::after {
  content: '';
  position: absolute;
  left: 20px; bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid green;
}
  .hint::after {
  border-top: 10px solid white;
  bottom: -19px;
}

/* hint-right */
.hint-right {
background: green;
position: relative;
width: 100px; height: 50px;
}
.hint-right::after {
content: '';
position: absolute;
right: -30px; top: 15px;
border: 10px solid transparent;
border-left: 20px solid green;
}
/* triangle */
.triangle {
  height: 20px;
  width: 20px;
  position: relative;
}
.triangle::before, .triangle::after {
  content: '';
  position: absolute;
  left: 20px; bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid green;
}
.triangle::after {
border-top: 10px solid white;
bottom: -19px;
}
/* drop */
.drop{
  height: 100px;
  width: 100px;
  border: 1px solid lightblue;
  background: lightblue;
  border-radius: 100% 0% 100% 100%;
}
/* tear */
.tear {
  width: 50px;
  height: 50px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  border: 3px solid black;
  margin-top: 20px;
}
/* radio */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 4px;
    height: 4px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* list study methods */
.meth-title {
  font-size: 22px;
  color: darkblue;
  min-width: 100px;
}
.meth-text,.meth-ex {
  display: inline-block;
  width: 47%;
}
.meth-fd {
  display: none;
}
.meth-item {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.meth-item>div {
  width: calc(100% / 3);
}
.ex-syntax {
  color: green
}
.ex-result {
  color: orangered
}
.meth-check {
  max-width: 150px;
  height: 35px;
}