body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  height: fit-content;
  color: #333;
  font-size: 18px;
}

button {
  color: #333;
}

header {
  padding: 20px;
}

.practice-container {
  width: 879px;
  margin: auto;
  margin-top: 120px;
  min-height: calc(100vh - 220px);
  padding: 20px 30px 0;
}


.console-result {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100vw;
  left: 0;
  right: 0;
  padding: 10px;
  background: #222222;
  border-top: 1px solid #b2b1b1;
}

.result {
  color: whitesmoke;
  font-weight: 600;
  position: relative;
}

.result:before {
  content: '>';
  font-weight: 600;
  left: 0;
  padding: 20px;
  padding-right: 10px;


}



.game-wrapper {
  position: relative;
  background: #004cf2;
  background: -moz-linear-gradient(top, #004cf2 0%, #00b7ea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004cf2), color-stop(100%, #00b7ea));
  background: -webkit-linear-gradient(top, #004cf2 0%, #00b7ea 100%);
  background: -o-linear-gradient(top, #004cf2 0%, #00b7ea 100%);
  background: -ms-linear-gradient(top, #004cf2 0%, #00b7ea 100%);
  background: linear-gradient(top, #004cf2 0%, #00b7ea 100%);
  transition: 0.3s ease;
}

.game-wrapper.night {
  background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
}

/* hero */
.hero {
  height: 300px;
  width: 200px;
  left: 200px;
  position: relative;
  display: inline-block;
  transform: scale(0.6);
  bottom: -42px;
  z-index: 2;
}

.hero.hited {
  transform: translate(16px, 10px) rotate(-15deg);
}

.head {
  position: absolute;
  top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid black;
}



.head:after {
  content: "";
  position: absolute;
  height: 11px;
  width: 36px;
  left: 26px;
  border-radius: 50%;
  transition: 1s ease;
}

#game.hero_win .head:after {
  top: 53%;
  border-top: none;
  border-bottom: 11px solid #000;
}

#game.hero_defeated .hero .head:after {
  top: 58%;
  border-top: 11px solid #000;
}

#game.hero_defeated .hero {
  animation: 1s heroDefeated 0.5s ease-in forwards;
}

@keyframes heroDefeated {
  to {
    transform: scale(0.6) rotate(-74deg) translate(-71px, 9px);
  }
}

#game.hero_defeated .hero .hit-points {
  transition: .3s;
  visibility: hidden;
}

.head:before {
  content: "";
  position: absolute;
  top: 20%;
  height: 20px;
  width: 16px;
  background: black;
  left: 26px;
  border-radius: inherit;
  box-shadow: 25px 0 0 black;
  animation: blinkHero 3s infinite linear;
}

#game.hero_defeated .head:before {
  animation-play-state: paused;
  transform: scaleY(0.2) !important;
}

.one:nth-child(1) .head:after {
  border-bottom: 20px solid black;
  border-radius: 50% 50% 0 0;
}

.one:nth-child(2) .head:after {
  border-top: 20px solid black;
  border-radius: 0 0 50% 50%;
}

.back {
  position: absolute;
  top: 110px;
  width: 10px;
  height: 40%;
  background: black;
  left: 50%;
  transform: translateX(-50%);
}

.arms {
  position: absolute;
  top: 40%;
  height: 20%;
  width: 10px;
  left: 40%;
  transition: 1.4s ease-in-out;
}

.arms:after,
.arms:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  transform: rotate(30deg);
}

.arms:before {
  transform: rotate(-30deg);
  left: 280%;
}

.legs {
  position: absolute;
  bottom: 9%;
  height: 50px;
  width: 50px;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  left: calc(50% - 24px);
  transform: rotate(135deg);
}

/* blink */

@keyframes blinkHero {

  0%,
  4%,
  44%,
  50%,
  75%,
  80%,
  100% {
    transform: scaleY(1);
  }

  47% {
    transform: scaleY(0);
  }
}

/* end hero */

/* monster */

.monster {
  width: 517px;
  bottom: -77px;
  left: 100px;
  height: 188px;

  position: relative;
  overflow: hidden;
  z-index: 0;
}

.body {
  width: 200px;
  height: 200px;
  background: teal;
  border-radius: 43% 40% 43% 40%;
  position: absolute;
  bottom: calc(-1 * 16vmin / 2 - 3vmin);
  left: 47%;
}

.monster.angry .body {
  background: radial-gradient(#9c27b0, #ff9800);

}

.eyes {
  width: 24vmin;
  height: 5vmin;
  position: absolute;
  bottom: 2vmin;
  left: 53%;
}

.monster-hit-points {
  width: 24vmin;
  height: 5vmin;
  position: absolute;
  bottom: 14vmin;
  left: 47%;
  z-index: 123;
}

.eyes::before,
.eyes::after {
  content: '';
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  border: 1.25vmin solid white;
  box-sizing: border-box;
  border-radius: 50%;
  animation: blink 3s infinite linear;
}

.eyes::before {
  left: 4vmin;
}

.eyes::after {
  right: 4vmin;
}

@keyframes bounce {
  to {
    bottom: calc(-1 * 6vmin / 2 - 2vmin);
  }
}

@keyframes wave {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wander {
  to {
    left: 8%;
  }
}

@keyframes blink {

  0%,
  4%,
  10%,
  34%,
  40%,
  100% {
    transform: scaleY(1);
  }

  7%,
  37% {
    transform: scaleY(0);
  }
}

/* end monster */
/*  sky */
.cloud1-wrap {
  transform: translatex(100px);
  z-index: 1;
  transition: 1s ease 0.5s;
}

#game.started .cloud1-wrap {
  transform: translatex(0px);
}

#game.started .cloud2-wrap {
  transform: translatex(0px);
}


.cloud2-wrap {
  transform: translatex(-121px);
  z-index: 1;
  transition: 1s ease 0.5s;
}

.cloud1 {
  opacity: 1;
  border-radius: 150px / 30px;
  width: 150px;
  height: 36px;
  background: #fff;
  position: absolute;
  left: 52%;
  top: 30px;
  z-index: 10;
}

.cloud1-1 {
  left: 60px;
  top: -10px;
}

.cloud1-2 {
  left: 100px;
  top: 20px;
}

.cloud2 {
  opacity: 1;
  z-index: 10;
  border-radius: 100px / 40px;
  width: 130px;
  height: 50px;
  background: #fff;
  position: absolute;
  left: 20%;
  top: 30px;
}

.cloud2-1 {
  left: 30px;
  top: -16px;
}

.cloud2-2 {
  left: 80px;
  top: -12px;
}

/* end sky */


.battle_area {
  display: flex;
  background: url('./game-monster/back.png') no-repeat;
  background-size: auto 100%;
  z-index: 11;
  position: relative;
}

.battle_area:before {
  content: '';
  display: block;
  position: absolute;
  background: linear-gradient(top, #0671bc 0%, #afd8e7 100%);

}

.waves {
  height: 100px;
  margin-top: -75px;
  overflow: hidden;
}

.wave-first,
.wave-second {
  height: 50px;
  background-image: url('./game-monster/splashWawes.webp');
  background-size: contain;
}

.wave-first {
  transform: scaleX(-1);
}

.wave-second {
  z-index: -1;
  margin-top: -21px;
  margin-right: -35px;
}

#game.started .wave-first {
  animation: waves-left 3s ease-in-out infinite;
}

#game.started .wave-second {
  animation: waves-right 3s ease-in-out infinite;
}

.sun {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 130px;
  width: 130px;
  z-index: 1;
}

.sun .moon-icon {
  display: none;
}

.sun img {
  animation: sunshine 3s infinite ease-in;
}

.game-wrapper.night .sun {
  position: absolute;
  top: 15px;
  right: 25px;
  display: block;
  height: 87px;
  width: 73px;
  transform: rotate(45deg);
  z-index: 1;
}

.game-wrapper.night .sun .moon-icon {
  display: block;
}

.game-wrapper.night .sun .sun-icon {
  display: none;
}

@keyframes sunshine {
  0% {
    transform: scale(1) rotate(0deg)
  }

  50% {
    transform: scale(1.03) rotate(3deg)
  }

  100% {
    transform: scale(1) rotate(0deg)
  }
}

img {
  height: 100%;
  width: 100%;
}

@keyframes waves-left {
  0% {
    transform: translate(15px, 15px)
  }

  50% {
    transform: translate(5px, 5px)
  }

  100% {
    transform: translate(15px, 15px)
  }
}

@keyframes waves-right {
  0% {
    transform: translate(-6px, -6px)
  }

  25% {
    transform: translate(-3px, 3px)
  }

  50% {
    transform: translate(0px, 0px)
  }

  75% {
    transform: translate(-3px, -3px)
  }

  100% {
    transform: translate(-6px, -6px)
  }
}

.monster-hit {
  background: url('./game-monster/monster_pow1.png') no-repeat;
  top: -50px;
  left: -30px;
}

.hero-hit {
  background: url('./game-monster/hit.png') no-repeat;
  top: -86px;
  left: -39px;
}



.monster-hit,
.monster-win-icon,
.hero-hit {
  display: none;
  height: 110px;
  width: 110px;
  background-size: contain;
  position: absolute;
}


.monster-win-icon {
  background: url('./game-monster/gg.png') no-repeat;
  top: -86px;
  left: -39px;
  height: 86px;
}

#game.hero_defeated .monster-win-icon {
  display: block;
}

.hero.hited .monster-hit {
  display: block;
}

.monster.hited .hero-hit {
  display: block;
}

.hit-button {
  height: 180px;
  position: absolute;
  right: 12px;
  bottom: 30%;
  user-select: none;
  transform: rotate(28deg);
}

#game.hero_defeated .hit-button {
  animation: 2s dropKnife ease-in;
  animation-fill-mode: forwards;
}

@keyframes dropKnife {
  30% {
    transform: translate(60px, -6px) rotate(-268deg);
  }

  60% {
    transform: translate(27px, -52px) rotate(385deg);
  }

  100% {
    transform: translate(-11px, -226px) rotate(584deg);
  }
}

.hit-points {
  display: none;
}

#game.started .hit-points {
  display: block;
}

/* hero hit */
.hero.hit .arms:before {
  animation: 1s moveArm;
}

.hero.hit .hit-button {
  animation: 1s moveKnife;
}

@keyframes moveArm {

  50% {
    transform: rotate(-50deg);
    top: -14%;
    left: 380%;
  }

  100% {
    transform: rotate(-30deg);
    left: 280%;
  }
}

@keyframes moveKnife {
  50% {
    transform: translateX(50px) rotate(61deg);
  }

  100% {
    transform: translateX(0px) rotate(28deg);
  }
}

/* hero win */
#game.hero_win .arms:before {
  animation: 1s winningMoveArm reverse ease-in-out forwards, 1s winningMoveArm 1s infinite ease-in-out;
}

#game.hero_win .arms:after {
  animation: 2s winningMoveLeftArm 1s infinite ease-in-out;
}

#game.hero_win .hit-button {
  animation: 1s winningMoveKnife ease-in forwards, 1s winningMoveKnifeDown ease-in 1s forwards;
}

@keyframes winningMoveLeftArm {
  50% {
    transform: rotate(75deg);
    top: -24%;
    left: -10px;
  }

  100% {
    transform: rotate(30deg);
  }
}

@keyframes winningMoveArm {
  50% {
    transform: rotate(-100deg);
    top: -24%;
    left: 380%;
  }

  100% {
    transform: rotate(-30deg);
    left: 280%;
  }
}

@keyframes winningMoveArmSalute {
  50% {
    transform: rotate(-100deg);
    top: -24%;
    left: 380%;
  }

  100% {
    transform: rotate(-30deg);
    left: 280%;
  }
}

@keyframes winningMoveKnife {
  30% {
    transform: translateX(150px) rotate(190deg);

  }

  60% {
    transform: translateX(300px) rotate(360deg);
  }

  100% {
    transform: translateX(450px) rotate(490deg);
  }
}

@keyframes winningMoveKnifeDown {
  100% {
    transform: translate(450px, 450px);
    opacity: 0
  }
}

/* monster move */
#game.started .monster.move .body {
  animation:
    wander 2.5s linear infinite alternate,
    wave 3s linear infinite,
    bounce 1s infinite alternate;
}

#game.started .monster.move .eyes {
  animation: wander 2.5s linear infinite alternate;
}

#game.started .monster.move .monster-hit-points {
  animation: wander 2.5s linear infinite alternate;
}

/* monster hited */
#game.started .monster.hited .eyes {
  animation: wanderHited 2s linear alternate;
}

#game.started .monster.hited .monster-hit-points {
  animation: wanderHited 2s linear alternate;
}

#game.started .monster.hited .body {
  animation:
    wanderHited 2s linear infinite alternate,
    waveHited 1s linear infinite,
    bounceHited 1s alternate infinite;
}


/* monster win */
#game.hero_defeated .monster .eyes {
  animation: wanderHited 2s linear alternate;
}

#game.hero_defeated .monster .monster-hit-points {
  animation: wanderHited 2s linear alternate;
}

#game.hero_defeated .monster .body {
  animation:
    wanderHited 2s linear infinite alternate,
    waveHited 1s linear infinite,
    bounceHited 1s alternate infinite;
}

@keyframes bounceHited {
  to {
    bottom: calc(-1 * 6vmin / 2 - 2vmin);
  }
}

@keyframes waveHited {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wanderHited {
  to {
    left: calc(60% - 6vmin + 2vmin);
  }
}

/* monster defeated */
#game.hero_win .monster .body {
  animation:
    wanderDefited 2s linear alternate,
    waveDefited 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#game.hero_win .monster .eyes {
  animation: wanderDefited 2s linear alternate;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#game.hero_win .monster .monster-hit-points {
  animation: wanderDefited 2s linear alternate;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes waveDefited {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wanderDefited {
  from {
    margin-bottom: 0%;
  }

  to {
    margin-bottom: -50%;
    opacity: 0;
  }
}

/* tablo */
.tablo {
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  top: 10%;
  left: -5%;
}

.tablo-item {
  display: none;
  z-index: 999;
}

#start_game,
#stop_game,
#win_game,
#defeat_game {
  font-family: 'Arial Narrow', Arial, sans-serif;
  display: block;
  font-size: 32px;
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: 5s textBackgroundLeft alternate ease-in-out forwards;

  background-repeat: no-repeat;
  background-position: 280% center;
  background-size: 150%;
}

#start_game {
  background-image: url(./game-monster/text-fones/ski.jpeg);
}

#stop_game {
  background-image: url(./game-monster/text-fones/ski.jpeg);
  display: none;
}

#game.started #stop_game {
  display: block;
}


#game.started #start_game {
  animation-play-state: paused;
  display: none;
  opacity: 0;
}

@keyframes textBackgroundLeft {
  100% {
    background-position: 0% center;
  }
}

@keyframes textBackgroundUp {
  100% {
    background-position: 100% top;
  }
}

#score {
  position: absolute;
  right: 20px;
  bottom: 16px;
  font-size: 34px;
  user-select: none;
  font-weight: 900;
}

.help {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 123;
}

.help-icon {
  height: 30px;
  width: fit-content;
}

.help-text {
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 3px;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: 1s ease 0.2s;
}

.help-icon:hover {
  animation: 0.2s rotateHelp ease-in-out;
}

.help:hover .help-text {
  max-height: 100px;
  max-width: 200px;
  padding: 5px 10px;
}

@keyframes rotateHelp {
  25% {
    transform: rotate(-25deg) scale(1.1)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg) scale(1.1)
  }

  100% {
    transform: rotate(25deg)
  }
}

.flash {
  position: absolute;
  top: 20px;
  left: 50%;
  display: none;
}

.flash-img {
  height: 200px;
}

.flash.active {
  display: block;
}

.game-wrapper.night #score{
  color: white;
}
.game-wrapper.night .hit-points {
  color: white;

}